.bgTable {
  .formBox {
    .btn-search,
    .btn-reset {
      width: 60px;
      border-radius: 3px;
      height: 32px;
    }
  }
  .tableBox {
    padding: 24px 32px;
    height: 136px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e8e8e8;
  }
  .t-col-2 {
    display: flex;
  }
  .baseList {
    padding-top: 20px;
    min-height: 90vh;
    :deep(.t-table td) {
      height: 49px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .name {
      img {
        width: 32px;
        height: 32px;
        vertical-align: bottom;
        border-radius: 4px;
      }
      display: flex;
      align-items: center;
      span {
        display: contents;
      }
    }
    .line {
      padding: 0 7.5px;
    }
    .btn-split-right {
      padding-right: 7.5px;
    }
    .btn-split-left {
      padding-left: 7.5px;
    }
    .evaluationContent {
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
